* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 75vw;
    height: 10vh;
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.navbar h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #0047FF;
    font-size: 1.5rem;
}

.navbar p {
    margin-left: 1vw;
    font-size: 1.2rem;
}

.recentMsgContainer {
    width: 100%;
    height: 60vh;
    background-color: #F7ECDC;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4vh;
    padding: 3vh 0;
}

.recentMsg {
    font-family: 'Roboto', sans-serif;
    line-height: 160.19%;
    display: flex;
    justify-content: space-around;
}

.msgDTContainer {
    font-weight: 500;
}

.msgTContainer {
    font-weight: 400;
    width: 52vw;
}

/* Input Box */

.inputBoxContainer {
    width: 100%;
    height: 26.5vh;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 15px;
}

.inputBoxContainer input {
    width: 92%;
    height: 80%;
    border-radius: 9px;
    padding: 1vh 1.5vw;
    border: 1px solid #CCCCCC;

    font-family: 'Roboto', sans-serif;
    line-height: 160.19%;
    font-weight: 400;
    font-size: 1rem;
}

.inputBoxContainer img {
    position: absolute;
    margin: 10vh 0 0 62vw;
}

#submitBtn:hover {
    color: #000000;
}

/* Pop Up container */

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5;
    position: absolute;

    /* ---------------- */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 160.19%;
    letter-spacing: 0.035em;
    color: #000000;
    /* --------------- */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlaycontent {
    position: relative;
    width: 40%;
    height: 34.5%;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 1.95vh 1.5vw .5vh 1.5vw;
}

.overlaycontent h4 {
    font-size: 1.3em;
}

.overlaycontent h5 {
    font-size: 1.1em;
    margin-right: 2.2vw;
    margin-left: .75vw;
}

.groupName,
.colorContainer,
.createNoteBtn {
    display: flex;
    align-items: center;
    margin-top: 4.5%;
}

.groupName input {
    font-weight: 400;
    font-size: 1em;
    width: 66%;
    height: 5.75vh;
    padding-left: 4%;
    color: #979797;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    margin-left: 1vw;
}

.colorsBox {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.colorsBox label {
    border-radius: 50%;
    width: 3vw;
    height: 5.95vh;
}

/* .firCircle {
    background-color: ;
} 

.secCircle {
    background-color: ;
}

.thiCircle {
    background-color: ;
}

.fouCircle {
    background-color: ;
}

.fivCircle {
    background-color: ;
}

.sixCircle {
    background-color: ;
} */

.createNoteBtn {
    width: 100%;
    justify-content: flex-end;
}

.createNoteBtn button {
    font-weight: 400;
    font-size: 1em;
    width: 8.5vw;
    height: 4.5vh;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 11px;
}